
/*!
 * pace.js v1.2.4 | Default theme
 * https://github.com/CodeByZach/pace/
 * Licensed MIT © HubSpot, Inc.
 */
 .pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: var(--primary-color-350);
	position: fixed;
	z-index: 2000;
	top: -1px;
	right: 100%;
	width: 100%;
	height: 5px;
  /* filter:
    drop-shadow(0 0 1px var(--primary-color))
    drop-shadow(0 0 2px var(--primary-color))
    drop-shadow(0 0 5px var(--primary-color))
    drop-shadow(0 0 10px var(--primary-color)); */
}
/* .pace .pace-progress::after {
  width: 50px;
  height: 5px;
  content: '';
  background: linear-gradient(to right, var(--primary-color),#fff);
  position: absolute;
  right: -50px;
  top: -1px;
} */